- name: Check if results file exists
  stat:
    path: "{% raw %}{{ nuclei_output_json }}{% endraw %}"
  register: results_file

- name: Import scan results using curl
  shell: >
    curl -X POST
    -v
    -H 'Authorization: Bearer {% raw %}{{ scan_api_key }}{% endraw %}'
    -F "scan_id={% raw %}{{ scan_id }}{% endraw %}"
    -F "client_id={% raw %}{{ client_id }}{% endraw %}"
    -F "file=@{% raw %}{{ nuclei_output_json }}{% endraw %}"
    "{% raw %}{{ orbit_api_url }}{% endraw %}/api/scan/import-scan-results"
  when: results_file.stat.exists
  register: import_result
  ignore_errors: yes