current_time: "{% raw %}{{ ansible_date_time.date | replace('-', '') }}_{{ ansible_date_time.time | replace(':', '') }}{% endraw %}"
simple_date: "{% raw %}{{ ansible_date_time.date }}{% endraw %}"

nuclei_template_repo: "https://github.com/projectdiscovery/nuclei-templates.git"
nuclei_template_dest: "/opt/nuclei-templates"
nuclei_results_path: "/tmp/nuclei-results"

date_format: "%m-%Y"  # Default format
month_year: "{% raw %}{{ lookup('pipe', 'date +' + date_format) }}{% endraw %}"

nuclei_package_path: "/tmp/{{ nuclei_package_folder_name }}"
nuclei_log_file: "{% raw %}{{ nuclei_results_path }}/{{ scan_id }}_{{ current_time }}{% endraw %}_nuclei-terminal.log"
nuclei_stats_file: "{% raw %}{{ nuclei_results_path }}/{{ scan_id }}_{{ current_time }}{% endraw %}_nuclei-stats.json"
nuclei_output_markdown: "{% raw %}{{ nuclei_results_path }}/{{ scan_id }}_{{ current_time }}{% endraw %}_nuclei-markdown"
nuclei_output_json: "{% raw %}{{ nuclei_results_path }}/{{ scan_id }}_{{ current_time }}{% endraw %}_nuclei-results.json"
nuclei_output_txt: "{% raw %}{{ nuclei_results_path }}/{{ scan_id }}_{{ current_time }}{% endraw %}_nuclei-results.log"
nuclei_errors_log: "{% raw %}{{ nuclei_results_path }}/{{ scan_id }}_{{ current_time }}{% endraw %}_nuclei-errors.log"
nuclei_results_zip_full: "{% raw %}{{ nuclei_results_path }}/{{ scan_id }}_{{ current_time }}{% endraw %}_full_nuclei.tar.zst"
nuclei_results_zip_small: "{% raw %}{{ nuclei_results_path }}/{{ scan_id }}_{{ current_time }}{% endraw %}_small_nuclei.zip"
nuclei_results_zip_full_name: "{% raw %}{{ scan_id }}_{{ current_time }}{% endraw %}_full_nuclei.tar.zst"
nuclei_results_zip_small_name: "{% raw %}{{ scan_id }}_{{ current_time }}{% endraw %}_small_nuclei.zip"
nuclei_results_zip_latest: "{% raw %}{{ nuclei_results_path }}/{{ scan_id }}{% endraw %}_nuclei_latest.zip"
nuclei_skipped_hosts: "{% raw %}{{ nuclei_results_path }}/{{ scan_id }}_{{ current_time }}{% endraw %}_nuclei-skipped-host.log"
nuclei_scan_time: "{% raw %}{{ scan_end_time | int - scan_start_time | int }}{% endraw %}"

source_droplet_list:
    - '{% raw %}"{{ ansible_default_ipv4.address }}"{% endraw %}'

ansible_log_file: "/tmp/{{ nuclei_package_folder_name }}-logs.txt"

ansible_log_files_to_compress:
    - /tmp/{{ nuclei_package_folder_name }}-logs.txt

nuclei_compress_full_dir: "/storage/zip/full"
nuclei_compress_small_dir: "/storage/zip/small"

nuclei_files_to_compress_full:
    - "{% raw %}{{ nuclei_log_file }}{% endraw %}"
    - "{% raw %}{{ nuclei_output_markdown }}{% endraw %}"
    - "{% raw %}{{ nuclei_output_json }}{% endraw %}"
    - "{% raw %}{{ nuclei_output_txt }}{% endraw %}"
    - "{% raw %}{{ nuclei_stats_file }}{% endraw %}"
    - "{% raw %}{{ nuclei_skipped_hosts }}{% endraw %}"
    - "{% raw %}{{ nuclei_errors_log }}{% endraw %}"
    - ./hosts
    - ./config.yml

nuclei_files_to_compress_small:
    - "{% raw %}{{ nuclei_output_markdown }}{% endraw %}"
    - "{% raw %}{{ nuclei_output_json }}{% endraw %}"
    - "{% raw %}{{ nuclei_output_txt }}{% endraw %}"
    - "{% raw %}{{ nuclei_stats_file }}{% endraw %}"
    - "{% raw %}{{ nuclei_skipped_hosts }}{% endraw %}"
    - ./hosts
    - ./config.yml

s3_scan_access_key: '{{ s3.scan.access_key }}'
s3_scan_secret_key: '{{ s3.scan.secret_key }}'
s3_scan_bucket_region: '{{ s3.scan.region }}'
s3_scan_bucket_name: '{{ s3.scan.bucket }}'
s3_scan_bucket_endpoint: '{{ s3.scan.endpoint }}'
s3_scan_path: '{{ s3.scan.path | replace("/", "") }}'

scan_id: '{{ scan_id }}'
scan_api_key: '{{ api_key }}'
orbit_api_url: 'http://localhost:8090'
s3_provider_id: '{{ s3.scan.provider_id }}'
client_id: '{{ client_id }}'
vm_size: '{{ vm.do_size }}'

